body{
    margin: 0px;
    background-color: #E0E8FA;
}


.imgLogo{
    height: 70px;
}


.contPadre{
    display: flex;
    justify-content: space-between;
    background-color: #E0E8FA;
    flex-wrap: wrap;
}

.contEvent{
/*    background-color: rgb(236, 236, 236);*/
    background-color: #BEF7FC ;
    display: flex;
    width: 700px;
    height: 82vh;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.contTitEvent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contTitEvent img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.titEvent{
    margin: 10px;
    left: 500px;
}

button {
    margin: 20px;
}
.custom-btn {
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 13 */
.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
    margin-right: 10px;
}
.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-13:hover {
    color: #fff;
}
.btn-13:hover:after {
    top: 0;
    height: 100%;
}
.btn-13:active {
    top: 2px;
}


.eventos{
    /*background-color: rgb(255, 255, 255);
   */ 

    height: 88%;
    width: 95%;
    border-radius: 10px;
    overflow-y: scroll;
}
.eventos div{
/*    background-color: rgb(207, 207, 207);*/
    background-color: #ffffff;
    height: 190px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5px
}
.eventos div h1{
    padding: 0;
    margin: 0;
}
.eventos div:hover{
    background-color: #7BCDD4;
}


/***** Descripción de los eventos *****/
.contDesc{
    background-color: rgb(122, 211, 223);
    width: 325px;
    height: 82vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*** Titulo del editor de evento ***/
.descTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
.titlEvent{/*Titulo*/
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.titlEvent h2{
    margin: 0;
}
/*Contenedor con los botones*/
.iconsDesc{
    display: flex;
    gap: 15px;
}
.btnIcon{/*Todos los botones*/
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.btnIcon:hover img{/*tomas las imagenes al seleccionar cualquier boton*/
    color: white;
    filter: brightness(0) saturate(100%) invert(99%) sepia(22%) saturate(0%) hue-rotate(139deg) brightness(117%) contrast(100%);
}
.iconsDesc img{/*Todas las imagenes*/
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.borr{/*Btn borrar*/
	-webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.borr:hover{
    background-color: #ff0000;
    width: 2rem;
	height: 2rem;
	border-radius: 2rem;
}
.edit{/*Btn editar*/
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.edit:hover{
    background-color: #126adf;
}
.mas{/*Btn agregar*/
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.mas:hover{
    background-color: #23a24d;
}

.desCont{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
}
.desCont label{
    color: black;
    font-size: 25px;
}

.desHora{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.desHora label{
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.descTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.descTotal label{
    margin: 0;
    font-size: 30px;
    color: black;
}
/* */

