img{
    max-width: 100%;
}


/* header */
header[role="banner"] {
    background: #89d8d3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
  header[role="banner"] h1 {
    margin: 0;
    font-weight: 300;
    padding: 1rem;
  }

  header[role="banner"] .utilities {
    width: 100%;
    background: slategray;
    color: #ddd;
  }
  header[role="banner"] .utilities li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  }
  header[role="banner"] .utilities li a {
    padding: 0.7em;
    display: block;
  }

.irLogin{
    position: absolute;
    top: 30px;
    right: 30px;

}


.container-items{
    margin-top: 6.5rem;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr); /*cuantos items quiero*/
    gap: 20px;

}

.item{
    border-width: thin;
    border-style: solid;
    border-color: #000;
    border-radius: 10px; /*borde de abajo*/

}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30); /*tamaño de sombra*/
    border-radius: 10px; /*borde de abajo*/
    /*border: solid;*/
}

.item img{
    width: 600px;
    height: 200px;
    object-fit: cover; /*adapta y centra la imagen*/
    border-radius: 7px 7px 0 0; /*bordes de las imagenes*/
    transition: all .5s;
    /*display: flex;*/
}

.item figure{
   overflow: hidden; /*oculta el contenido que salga de la caja*/
   border-radius: 8px 8px 0 0; /*bordes de las imagenes*/
}

.capa{
    padding: 15px 30px;
    color: white;
}

.item figure .capa{
    margin-top: 6.5rem;
    position: absolute;
   /* top: 0;*/
    width: 31.2%; /*ancho*/
    height: 200px;
    border-radius: 8px 8px 0 0;
    background: rgba(49, 63, 66, 0.76);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: justify;

}

.item figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.item:hover img{
    transform: scale(1.2);
}

.Descripcionn{
    text-align: center;
    line-height: 10rem;
}

.info-producto{
    padding: 15px 30px;
    line-height: 2; /*interlineado*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.price{
    font-size: 18px;
    font-weight: 900;
}


/* //////////////////////////////////// */
.slider {
    overflow: hidden;
    position: relative;
}

.slider-list {
    padding: 0;
    display: flex;
    width: fit-content; /* Ajusta el ancho del contenedor al contenido de las imágenes */
    animation: cambio 20s infinite;
    animation-duration: calc(20s * var(--image-count)); /* Duración de la animación basada en el número de imágenes */
}

.slider li {
    width: 100%;
    list-style: none;
}

@keyframes cambio {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% * (var(--image-count) - 1))); /* Desplazamiento basado en el número de imágenes menos uno */
    }
}


/*
.slider ul{
    padding: 0;
    display: flex;
    width: 100%;
    
    animation: cambio 20s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}*/
/*.info-producto button{
    border: none;
    background: none;
    background-color: darkgray;
    color: black;
    padding: 15px 10px;
    cursor: pointer;
}*/
