body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

header{
    background-color: rgb(83, 77, 77);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imgLogo{
    height: 70px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav a:hover{
    color: rgb(226, 207, 98);
}

.salir{
    border-radius: 10px;
    background-color: rgb(83, 77, 77);
    color: white;
    font-size: 20px;
    border: 2px solid rgb(226, 207, 98);
    padding: 7px 22px;
    margin-right: 10px;
}
.salir:hover{
    background-color: rgb(226, 207, 98);
    color: black;
}

.contPadre{
    display: flex;
    justify-content: space-between;
}

.contEvent{
    background-color: rgb(236, 236, 236);
    display: flex;
    width: 65%;
    height: 85vh;
    border-radius: 15px;
    margin: 10px 10px 10px 20px;
    flex-direction: column;
    align-items: center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
}
.contTitEvent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contTitEvent img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.titEvent{
    margin: 10px;
    left: 500px;
}

button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 13 */
.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}
.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-13:hover {
    color: #fff;
}
.btn-13:hover:after {
    top: 0;
    height: 100%;
}
.btn-13:active {
    top: 2px;
}


.eventos{
    /*background-color: rgb(255, 255, 255);
   */ height: 88%;
    width: 95%;
    border-radius: 10px;
    overflow-y: scroll;
}
.eventos div{
    background-color: rgb(207, 207, 207);
    height: 190px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5px
}
.eventos div h1{
    padding: 0;
    margin: 0;
}
.eventos div:hover{
    background-color: #fff;
}

.contDesc{
    background-color: blue;
    width: 30%;
    height: 85vh;
    border-radius: 15px;
    margin: 10px 20px 10px 10px;
}
