body{
    margin: 0px;
    padding: 0;
}


/*// Contenedor Principal //*/
.contPrinc{
    margin: 90px 45px 20px 45px !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Página Pricipal Eventos ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/        
/******************* Sección Titulo de la página *******************/
.contTitEvent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contTitEvent img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.titEvent{
    margin: 10px;
    left: 500px;
}

button {
    margin: 20px;
}
.custom-btn {
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;

    text-decoration: none;
}

/* 13 */
.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
    margin-right: 10px;
}
.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-13:hover {
    color: #fff;
}
.btn-13:hover:after {
    top: 0;
    height: 100%;
}
.btn-13:active {
    top: 2px;
}


/******************* Sección Eventos de la página *******************/
.eventos{ /*Contiene todos los eventos*/
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}
.eventos div h1{
    padding: 0;
    margin: 0;
}
/*////////// Evento uno x uno //////////*/
.evento{ /* Contiene un evento */
    background-color: #e2e2e2;
    height: 250px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #000000;

    margin-bottom: 20px;

    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    justify-content: space-between;
}
.evento:hover{
   background-color: #212529;
   color: white;
}

.imgEvento{/*///// Contiene la Imagen del Evento /////*/
    border-radius: 12px;

    width: 40%;
    overflow: hidden;
}
.imgEvento img{
    width: 100%;
    height: auto;
    display: block;
}
.datosEvento{/*///// Contiene los Datos del Evento /////*/
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infEvntTit{/*Contiene Titulo del evento*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titEventConfirm{/*Contiene Confirmacion*/
    display: flex;
    gap: 5px;
    margin-right: 10px;
    align-items: center;
}
.titEventConfirm h4{/*Texto de Confirmacion*/
    margin: 0;
    padding: 0;
}
.titEventConfirm img{/*Icono de confirmacion*/
    width: 20px;
    height: 20px;
}
.iconsDesc{/*Contiene los botones edit, borrar*/
    display: flex;
    gap: 15px;
    margin-right: 10px;
    align-items: center;
}
.infEvnt{/*Contienen la información del Evento*/
    display: flex;
    justify-content: space-around;
}
.texto{/*Contiene el texto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Página Agregar y Editar Evento ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.prinAgregar{/*Contenedor Principal*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/********** Descripción de los eventos **********/
.contDesc{/*Contiene la información del evento*/
    background-color: rgb(122, 211, 223);
    width: 75%;
    height: 82vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add{
    height: 50px;
    margin: 10px 10px 0 0;
}
.add:hover{
    background-color: #D3FFD5 !important;
    color: black !important;
}



.formu1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}
.btnGuardar{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
/*** Titulo del editor de evento ***/
.descTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
.titlEvent{/*Titulo*/
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.titlEvent h2{
    margin: 0;
}

.btnIcon{/*Todos los botones*/
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.btnIcon:hover img{/*tomas las imagenes al seleccionar cualquier boton*/
    color: white;
    filter: brightness(0) saturate(100%) invert(99%) sepia(22%) saturate(0%) hue-rotate(139deg) brightness(117%) contrast(100%);
}
.iconsDesc img{/*Todas las imagenes*/
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.borr{/*Btn borrar*/
	-webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.borr:hover{
    background-color: #ff0000;
    width: 2rem;
	height: 2rem;
	border-radius: 2rem;
}
.edit{/*Btn editar*/
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.edit:hover{
    background-color: #126adf;
}
.mas{/*Btn agregar*/
    -webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
	        transition: all 0.7s;
}
.mas:hover{
    background-color: #23a24d;
}

.desCont{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.desCont label{
    color: black;
    font-size: 25px;
    align-items: center;
    margin: 0;
    padding: 0;
}
.selectPaq{
    height: 40px;
    width: 188px;
}

.desHora{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.desHora label{
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.descTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.descTotal label{
    margin: 0;
    font-size: 30px;
    color: black;
}
/* */

